<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragment/pages/header :: header">
    <title>SWLAB | Project-Detail</title>
  </head>
  <body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

      <!--  Navbar  -->
      <nav th:replace="fragment/pages/navbar :: navbar"></nav>
      <!--  Sidebar  -->
      <aside th:replace="fragment/pages/sidebar :: sidebar"></aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Project Detail</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Project Detail</li>
                </ol>
              </div>
            </div>
          </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

          <!-- Default box -->
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Projects Detail</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                  <div class="row">
                    <div class="col-12 col-sm-4">
                      <div class="info-box bg-light">
                        <div class="info-box-content">
                          <span class="info-box-text text-center text-muted">Created All Issues</span>
                          <span class="info-box-number text-center text-muted mb-0" th:text="${issuesCnt}"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-4">
                      <div class="info-box bg-light">
                        <div class="info-box-content">
                          <span class="info-box-text text-center text-muted">Opened All Issues</span>
                          <span class="info-box-number text-center text-muted mb-0" th:text="${openedIssuesCnt}"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-4">
                      <div class="info-box bg-light">
                        <div class="info-box-content">
                          <span class="info-box-text text-center text-muted">Closed All Issues</span>
                          <span class="info-box-number text-center text-muted mb-0" th:text="${issuesCnt} - ${openedIssuesCnt}"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <h4>Recent Activity</h4>
                        <div th:each="commit, index : ${commits}" class="post" th:classappend="${index.index} % 2 == 1 ? 'clearfix' : ''">
                          <span class="username">
                            <a href="#" th:text="${commit.getAuthorName()}"></a>
                          </span>
                          <span class="description" th:text="|Created At ${date.format(commit.getCommittedDate())}|"></span>
                          <p th:text="|Commit Message : ${commit.getMessage()}|"></p>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                  <h3 class="text-primary"><i class="fas fa-paint-brush" th:text="${project.getName()}"></i> </h3>
                  <p class="text-muted" th:text="${project.getDescription()}"></p>
                  <br>
                  <div class="text-muted">
                    <p class="text-sm">Project Leader
                      <b class="d-block" th:text="${project.getNamespace().getName()}"></b>
                    </p>
                    <p th:href="${project.getWebUrl()}">Go-To Repository</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <th:block th:replace="fragment/pages/footer :: footer"></th:block>

    </div>
    <!-- ./wrapper -->

    <th:block th:replace="fragment/pages/footer :: script"></th:block>
  </body>
</html>
