<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/pages/header :: header">
  <title>SWLAB | Project-Detail</title>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <!--  Navbar  -->
  <nav th:replace="fragment/pages/navbar :: navbar"></nav>
  <!--  Sidebar  -->
  <aside th:replace="fragment/pages/sidebar :: sidebar"></aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Calendar</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Calendar</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card card-primary">
              <div class="card-body p-0">
                <!-- THE CALENDAR -->
                <div id="calendar"></div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">타이틀</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
              </div>
              <div class="modal-body">
                모달
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">
                  수정
                </button>
                <button type="button" class="btn btn-primary">
                  삭제
                </button>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <th:block th:replace="fragment/pages/footer :: footer"></th:block>

</div>
<!-- ./wrapper -->

<th:block th:replace="fragment/pages/footer :: script"></th:block>
<script th:inline="javascript">
  $(function () {


    var date = new Date()
    var d    = date.getDate(),
        m    = date.getMonth(),
        y    = date.getFullYear()

    var Calendar = FullCalendar.Calendar;
    var calendarEl = document.getElementById('calendar');

    /*<![CDATA[*/

    var googleCalendarId = /*[[${googleCalendarId}]]*/ 'default';
    var googleApiKey = /*[[${googleApiKey}]]*/ 'default';

    /*]]>*/


    var calendar = new Calendar(calendarEl, {
      googleCalendarApiKey: googleApiKey,
      header: {
        left: 'prev, next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      themeSystem: 'bootstrap',
      eventSources: [{
        googleCalendarId: googleCalendarId
      }],
      eventClick: function (info) {
        info.jsEvent.preventDefault();
        console.log(info.event._def);
        $("#successModal").modal("show");
        $("#successModal .modal-body p").text(info.title);
      }
    })

    calendar.render();
  })
</script>
</body>
</html>
